<h3>Account verification!</h3>

Hi {{ name }}!<br><br>


Please click this link to verify your account:

<a href="http://localhost:8080/cinematicketreservationsystem/web/app_dev.php/verify?activationToken={{ activationToken }}"> LINK </a>
<br><br>

If you have received this email by mistake ignore it.<br>

Thanks!