{% extends 'base.html.twig' %}

{% block body %}
    <section id="slider" class="bg-page-dark-1">
        <div class="slider-background">
            {% for i in 1..4 %}
                <img src="images/slider{{ i }}.jpg" alt="" class="section-slider-background" data-background-id="{{ i }}">
            {% endfor %}
        </div>
        <div class="container">
            <div class="d-flex align-items-center justify-content-between pb-4">
                <div class="">
                    <h1><b>Nowości</b> w kiniach</h1>
                </div>
                <div class="controls sm-hidden justify-content-between d-flex p-0">
                    <span id="slider-left"></span>
                    <span id="slider-right"></span>
                </div>
            </div>
            <div class="slider">
                {% for i in 1..4 %}
                    <div class="item" data-background-id="{{ i }}">
                        {% include 'default/movie_preview.html.twig' with
                            {'title':'Nazwa filmu', 'categories':['category1','category2'], 'mark':4.5,'poster': '/images/sliderimg.jpg'}
                            only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="content" class="bg-page-dark-1 border-before">
        <div class="container-fluid content-menu pt-4">
            <div class="container">
                <div class="row col-12 align-items-center">
                    <div class="col">
                        <h2>New items</h2>
                    </div>
                </div>
                <div class="content-tabs col font-weight-light">
                    <ul class="nav nav-tabs border-0">
                        <li class="nav-item active">
                            <a class="nav-link py-3 px-0 mr-4" data-toggle="tab" href="#home">NEW RELEASES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 mr-4" data-toggle="tab" href="#menu1">MOVIES</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link py-3 px-0 mr-4" data-toggle="tab" href="#menu2">TV SERIES</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container pt-5">
            <div class="tab-content">
                <div class="tab-pane container active" id="home">
                    <div class="row">
                        {% for i in 1..6 %}
                            <div class="col-6 col-sm-12 col-lg-6 mb-5">
                                <div class="row">
                                    <div class="col-12 col-sm-4">
                                        <img src="/images/sliderimg.jpg" class="img-fluid" alt="">
                                    </div>
                                    <div class="col-12 col-sm-8">
                                        <h4 class="m-0">I Dream in Another Language</h4>
                                        <p class="mb-1 mt-0">Category1, Category2</p>
                                        <p class="m-1 mt-0"># ocena</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At eligendi, explicabo facilis illo iusto magnam magni odit quaerat suscipit tempora.</p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="tab-pane container" id="menu1">
                    <div class="row">
                    {% for i in 1..12 %} {# to tez jest w sliderze #}
                        <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                            {% include 'default/movie_preview.html.twig' with
                                {'title':'Nazwa filmu', 'categories':['category1','category2'], 'mark':4.5,'poster': '/images/sliderimg.jpg'}
                                only %}
                        </div>
                    {% endfor %}
                    </div>
                </div>

                <div class="tab-pane container" id="menu2">
                    <div class="row">
                        {% for i in 1..12 %} {# to tez jest w sliderze #}
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12">
                                {% include 'default/movie_preview.html.twig' with
                                    {'title':'Nazwa filmu', 'categories':['category1','category2'], 'mark':4.5,'poster': '/images/sliderimg.jpg'}
                                    only %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

        </div>
    </section>

    <section id="premieres" class="bg-page-dark-2 py-5">
        <div class="container">
            <h2>Expected premiere</h2>
            <div class="row pt-4">
                {% for i in 1..6 %} {# to tez jest w sliderze #}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        {% include 'default/movie_preview.html.twig' with
                            {'title':'Nazwa filmu', 'categories':['category1','category2'], 'mark':4.5,'poster': '/images/sliderimg.jpg'}
                        only %}
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

    <section id="partners" class="bg-page-dark-1 pt-3 pb-5 border-after">
        <div class="container">
            <h2 class="py-3">Our Partners</h2>
            <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using.</p>
            <div class="row py-4">
                {% for i in 1..6 %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                        <a href="#"><img src="/images/partner.png" class="img-fluid" alt=""></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}

{% block stylesheets %}
    <style>
    </style>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/bxSlider.js')}}"></script>
    <script>
        $(document).ready(function(){
            const changeSliderBackground = function(object){
                let image_id = object.attr('data-background-id');
                $(`#slider .section-slider-background.opaque`).removeClass('opaque');
                $(`#slider .section-slider-background[data-background-id=${image_id}]`).addClass('opaque');
            };

            let item_amount = 4;
            let item_width = ($('.slider').width()/item_amount).toFixed(2),
                magin = 40,
                options = {
                    minSlides:item_amount,
                    maxSlides:item_amount,
                    moveSlides:1,
                    slideMargin:magin,
                    slideWidth: item_width,
                    speed:1000,
                    nextSelector:$('#slider-right'),
                    nextText:'<i class="fas fa-arrow-right"></i>',
                    prevSelector:$('#slider-left'),
                    prevText:'<i class="fas fa-arrow-left"></i>',
                    pager:false,
                    onSlideBefore: function(currentSlide){
                        changeSliderBackground(currentSlide);
                    },
                    onSliderLoad: function(){
                        changeSliderBackground(this.getCurrentSlideElement());
                    },
                    //
                };

            let slider = $('.slider').bxSlider(options);

            let cal, unit;
            $(window).on('resize',function(){
                item_width = ($('#slider').width()/item_amount).toFixed(2),
                cal=$(this).width()/item_width|0;
                unit=cal>item_amount ? item_amount : cal;

                options = Object.assign(options, {
                    maxSlides: unit,
                    moveSlides: unit,
                    slideWidth: item_width,
                });
                slider.reloadSlider(options);
            });


        });
    </script>
{% endblock %}
