{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Dodaj salę kinową</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" value="Dodaj" />
    {{ form_end(form) }}

    <br><a class="btn btn-light" href="{{ path('cinema_hall_index') }}">Powrót do listy</a>
{% endblock %}
