{% extends 'base_panel.html.twig' %}

{% block body %}
    <h1>Lista miast</h1>

    <a href="{{ path('city_new') }}">Dodaj miasto</a><br><br>

    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for city in cities %}
                <tr>
                    <td>{{ city.name }}</td>
                    <td>
                        <ul>
                            <li>
                                <a href="{{ path('city_show', { 'id': city.id }) }}">Pokaż</a>
                            </li>
                            <li>
                                <a href="{{ path('city_edit', { 'id': city.id }) }}">Edytuj</a>
                            </li>
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
