<footer class="footer bg-page-dark-1 py-5">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <h6 class="font-weight-bold">Resources</h6>
                <ul class="list-unstyled">
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Pricing Plan</a></li>
                    <li><a href="#">Help</a></li>
                </ul>
            </div>

            <div class="col-4">
                <h6 class="font-weight-bold">Legal</h6>
                <ul class="list-unstyled">
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Security</a></li>
                </ul>
            </div>

            <div class="col-4">
                <h6 class="font-weight-bold">Contact</h6>
                <ul class="list-unstyled">
                    <li><a href="tel:+123123123">123 123 123</a></li>
                    <li><a href="mailto:iks@de.pl">support@iks@de.pl</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>