<footer class="footer bg-page-dark-1 py-5">
    <div class="container">
        <div class="row">

            <div class="col-4">
                <h6 class="font-weight-bold">Autorzy</h6>
                <ul class="list-unstyled">
                    <li>Dawid Rombel</li>
                    <li>Julian Podleśny</li>
                </ul>
            </div>

            <div class="col-4">
                <h6 class="font-weight-bold">Technologie</h6>
                <ul class="list-unstyled">
                    <li><a href="https://symfony.com/">Symfony Framework</a></li>
                    <li><a href="https://twig.symfony.com/">Twig PHP template engine</a></li>
                    <li><a href="https://www.mysql.com/">MySql</a></li>
                </ul>
            </div>

            <div class="col-4">
                <h6 class="font-weight-bold">Pomoc</h6>
                <ul class="list-unstyled">
                    <li><a href="https://stackoverflow.com/">Stack Overflow</a></li>
                    <li><a href="https://symfony.com/doc/3.4/index.html">Dokumentacja Symfony</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>